@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  color: rgb(19, 1, 1);
}

.paginationActive {
  background-color: blue;
  color: white;
}

.own-card img {
  transition: all 0.5s;
}

.own-card:hover img {
  transform: scale(1.05);
}
